<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="/js/app.js"></script>
    </head>
    <body>
        <h1>This page has stuff to help you use my web app.</h1>
        <p>Rendered on {{date}}.</p>
    </body>
</html>