<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <script src="/js/app.js"></script>
    </head>
    <body>
        <div class="main">
            {{>header}}
            <p>This site was developed as part of The Complete Node.js Developer Course (by Drew Mead). The site provides the user with weather forecast information for a given area.</p>
        </div>
        {{>footer}}
    </body>
</html>