<!DOCTYPE html>
<html>
    <head>
        <title>Welcome Page (Handlebars)</title>
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="icon" href="/image/zoey.png"
    </head>
    <body>
        <div class="main">
            {{>header}}
            <img class="me" src="/image/chilling.jpg">
        </div>
        {{>footer}}
    </body>
</html>